.container  {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
  /* size: 150%; */
  background-color: #282c34;
  min-height: 100vh;


  display:flexbox;
  flex-direction:column;
  align-items: center;
   justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.container .barra {
font-weight: 500;
}

.container .hprincipal {
  
  display:flex;
  align-items:flex-start;
  padding: 2rem 3rem 2rem 3rem;
  justify-content:center || space-around || space-evenly; 

}

.container .login {
  margin-left:8rem;
}
 
.container .fprincipal {
  text-align: right;
  font-size: small;
  position:relative;
  color: burlywood;
  padding-top: 20em;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.texto {
 font-size: large;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:blanchedalmond;
  padding-top: 2em;
}